body {
    font-family: sans-serif;
}

.link {
    font-family: Comic Sans MS;
    color: #F5F5F5;
    border: solid 3px navy;
    border-radius: 15px;
    padding: 3px;
    margin: 5px;
    background-color: navy;
    text-decoration: none;
}

header {
    border: 5px solid #270C88;
    padding: 15px;
    margin: 25px;
    border-radius: 20px;
    background-color: #fcfcfc;
}

.production {
    border: 5px solid #30BA8F;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 5px;
    padding-top: 5px;
}

h1 {
    color: #76FF7A;
    text-decoration: underline #76FF7A;
    text-align: center;
}

footer {
    background-color: #272732;
    color: #C7C7C7;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Verdana;
}

.discount {
    color: #FF2400;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #108FC6;
}
